[phases.setup]
nixPkgs = ["nodejs_20", "python311", "python311Packages.pip", "libGL", "libGLU"]

[phases.install]
cmds = [
    "npm install",
    "python -m venv backend/python/venv",
    "backend/python/venv/bin/pip install --upgrade pip",
    "backend/python/venv/bin/pip install -r backend/python/requirements.txt"
]

[start]
cmd = "node backend/server.js"
