[phases.setup]
nixPkgs = ["nodejs_20", "python311", "python311Packages.pip"]

[phases.install]
cmds = [
    "npm install",
    "pip install -r backend/python/requirements.txt"
]

[start]
cmd = "node backend/server.js"
